.env

# Игнорируем базу и временные фото
data/stopsmoke.db
data/*.png

# Но при этом сохраняем шрифты и логотип
!data/fonts/
!data/logo_v3.png

# Python
__pycache__/
*.py[cod]
*$py.class

# Backup
old_bot.py